*{
    margin: 0 0px;
    padding: 0 0px;
    }
header{
    background-color: #383d58;
    color: white;
}
body{
    background-color: #1d0808;
    color: white;

}
 .cabecalho-imagem{
    width: 20%;

}
.cabecalho{
    background-image:linear-gradient(#700f0f, #500f0f, #1d0808 );
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 64px;
    font-size: 32px;


    }

.escola-imagem{
    width: 30%;
}